<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css">
    <title>About</title>
</head>

<body>
    <header>
      <h1>About Us</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>

    
    <div class="container">
        <div id="container1">
        <h2> who we are ? </h2>
        <p>"Valentine's Day has always been about cherishing love in all its forms—whether it's romantic, platonic, or self-love. Our project was born out of a simple yet powerful desire: to help people express their emotions and create lasting memories on this special day. With our tools, resources, and a sprinkle of creativity, we aim to make Valentine's Day magical for everyone."</p>
        </div>

        <div id="container2">
        <h2> why you need us ? </h2>
        <p>"We're a passionate group of creators, artists, and developers who believe in the magic of love. Chahinez, the visionary behind this project, wanted to create something that brings joy and connection to people everywhere. Together, we've combined our skills to deliver a platform dedicated to celebrating the beauty of relationships."</p>
        </div>

        <div id="container3">
        <h2> Share your story </h2>
        <p>"Ready to make this Valentine's Day one to remember? Join us in spreading love and happiness. Dive into our features, explore our ideas, and share your stories with us. Let's celebrate love together!"</p>
        </div>

        <div id="container4">
            <h2>Our Community</h2>
            <p>"Our project thrives because of you! We believe in the power of shared experiences. This platform is a celebration of every love story, every memory, and every moment that has made someone's day brighter."</p>
        </div>


    </div>

    <footer >
        <p>&copy; 2025 Chahinez. All rights reserved.</p>
    </footer>
  </body>
</html>